@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-inline: auto;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.main-container-grp16 {
  width: 1100px;
  height: auto;
  margin: 0 auto;
}
.main-container-grp16 .site-header-grp15 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 112px;
  border-bottom: 1px solid rgba(182, 188, 200, 0.5);
}
.main-container-grp16 .site-header-grp15 .menu-icon-button {
  display: none;
}
.main-container-grp16 .site-header-grp15 .main-navigation-grp13 {
  display: flex;
  align-items: center;
  gap: 56.5px;
}
.main-container-grp16 .site-header-grp15 .main-navigation-grp13 .nav-logo-sneakers2 img {
  height: 100%;
}
.main-container-grp16 .site-header-grp15 .main-navigation-grp13 .nav-list-grp12 {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.main-container-grp16 .site-header-grp15 .main-navigation-grp13 .nav-list-grp12 .nav-item {
  position: relative;
}
.main-container-grp16 .site-header-grp15 .main-navigation-grp13 .nav-list-grp12 .close-nav {
  display: none;
}
.main-container-grp16 .site-header-grp15 .main-navigation-grp13 .nav-list-grp12 .nav-link {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  position: relative;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: color 0.3s ease;
}
.main-container-grp16 .site-header-grp15 .main-navigation-grp13 .nav-list-grp12 .nav-link::after {
  content: "";
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
  border-radius: 1px;
}
.main-container-grp16 .site-header-grp15 .main-navigation-grp13 .nav-list-grp12 .nav-link:hover::after {
  background-color: hsl(26, 100%, 55%);
  width: 100%;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 {
  display: flex;
  align-items: center;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart {
  position: relative;
  margin-right: 46.18px;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-icon {
  cursor: pointer;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-icon-button {
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-counter {
  display: none;
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #FF7E1B;
  color: white;
  border-radius: 12px;
  padding: 0.1em 0.6em;
  font-size: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 19px;
  min-height: 13px;
  box-sizing: border-box;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  width: 360px;
  height: 256px;
  background: white;
  border-radius: 9px;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  z-index: 10;
  transition: all 0.3s;
  display: none;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-dropdown.visible {
  display: flex;
  flex-direction: column;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-dropdown .cart-name {
  font-size: 16px;
  font-weight: 700;
  padding: 1.5rem;
  border-bottom: 1px solid #dcdcdc;
  margin: 0;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-dropdown .cart-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 20px;
  color: hsl(219, 9%, 45%);
  font-weight: 700;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-dropdown .empty-cart-msg {
  margin-top: 50px;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-dropdown .cart-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-dropdown .cart-item .cart-item-image {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-dropdown .cart-item .cart-item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-dropdown .cart-item .cart-item-details .cart-item-title {
  color: hsl(219, 9%, 45%);
  font-weight: 400;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-dropdown .cart-item .cart-item-details .cart-item-price {
  color: hsl(219, 9%, 45%);
  font-weight: 400;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-dropdown .cart-item .cart-item-details .cart-item-price span {
  font-weight: 700;
  color: hsla(0, 0%, 0%, 0.75);
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-dropdown .cart-item .cart-item-remove {
  background: none;
  border: none;
  cursor: pointer;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-dropdown .cart-item .cart-item-remove img {
  width: 14px;
  height: 16px;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-dropdown .checkout-button {
  margin: 0 auto;
  padding: 1rem;
  width: 312px;
  height: 56px;
  border-radius: 8px;
  background-color: hsl(26, 100%, 55%);
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  font-size: 16px;
  font-weight: 700;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-dropdown .checkout-button:hover {
  background-color: #ffa866;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  transition: border 0.3s ease;
  border: 2px solid transparent;
  cursor: pointer;
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-profile-image:hover {
  border: 2px solid hsl(26, 100%, 55%);
}
.main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: inherit;
}
.main-container-grp16 .main-content-grp11 {
  max-width: 1015px;
  width: 100%;
  max-height: 565px;
  display: flex;
  justify-content: space-between;
  margin: 90px 48px 47px;
  gap: 125px;
}
.main-container-grp16 .main-content-grp11 .product-gallery-grp10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.main-container-grp16 .main-content-grp11 .product-gallery-grp10 .mobile-arrow-container {
  display: none;
}
.main-container-grp16 .main-content-grp11 .product-gallery-grp10 .main-product-image-rectangle {
  cursor: pointer;
  width: 100%;
  max-width: 445px;
  border-radius: 16px;
}
.main-container-grp16 .main-content-grp11 .product-gallery-grp10 .product-thumbnails-grp9 {
  display: flex;
  gap: 31px;
}
.main-container-grp16 .main-content-grp11 .product-gallery-grp10 .product-thumbnails-grp9 .thumbnail-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  position: relative;
  width: 88px;
  height: 88px;
  border-radius: 8px;
  overflow: hidden;
}
.main-container-grp16 .main-content-grp11 .product-gallery-grp10 .product-thumbnails-grp9 .thumbnail-button:focus {
  outline: none;
}
.main-container-grp16 .main-content-grp11 .product-gallery-grp10 .product-thumbnails-grp9 .thumbnail-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  pointer-events: none;
  transition: border-color 0.3s ease;
  border: 2px solid transparent;
}
.main-container-grp16 .main-content-grp11 .product-gallery-grp10 .product-thumbnails-grp9 .thumbnail-button.active::after {
  border-color: #ff7d1a;
}
.main-container-grp16 .main-content-grp11 .product-gallery-grp10 .product-thumbnails-grp9 .thumbnail-button .thumbnail-rectangle {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}
.main-container-grp16 .main-content-grp11 .product-gallery-grp10 .product-thumbnails-grp9 .thumbnail-button .thumbnail-rectangle:hover, .main-container-grp16 .main-content-grp11 .product-gallery-grp10 .product-thumbnails-grp9 .thumbnail-button .thumbnail-rectangle:focus {
  opacity: 0.7;
}
.main-container-grp16 .main-content-grp11 .product-gallery-grp10 .product-thumbnails-grp9 .thumbnail-button.active .thumbnail-rectangle {
  opacity: 0.5;
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .product-brand-sneaker-company {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
  width: auto;
  height: auto;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .product-name-fall-limited {
  color: hsl(220, 13%, 13%);
  font-family: 700;
  font-size: 44px;
  line-height: 48px;
  margin-bottom: 32px;
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .product-description-these-low-profile {
  color: hsl(219, 9%, 45%);
  font-family: 400;
  line-height: 26px;
  margin-bottom: 24px;
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .price-group-grp6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .price-group-grp6 .current-price-with-discount {
  display: flex;
  align-items: center;
  gap: 23px;
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .price-group-grp6 .current-price-with-discount .current-price {
  color: hsl(220, 13%, 13%);
  font-size: 28px;
  font-weight: 700;
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .price-group-grp6 .current-price-with-discount .discount {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  padding: 5px 10px;
  background-color: hsl(25, 100%, 94%);
  border-radius: 5px;
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .price-group-grp6 .original-price {
  color: hsl(220, 14%, 75%);
  font-weight: 700;
  text-decoration: line-through;
  margin-top: 3px;
  line-height: 26px;
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .product-interaction-container.grp7 {
  display: flex;
  align-items: center;
  gap: 16px;
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .product-interaction-container.grp7 .quantity-selector-grp5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: hsl(223, 64%, 98%);
  border-radius: 5px;
  padding: 5px;
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .product-interaction-container.grp7 .quantity-selector-grp5 .decrease-quantity,
.main-container-grp16 .main-content-grp11 .product-details-grp8 .product-interaction-container.grp7 .quantity-selector-grp5 .increase-quantity {
  background: transparent;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .product-interaction-container.grp7 .quantity-selector-grp5 .decrease-quantity:hover,
.main-container-grp16 .main-content-grp11 .product-details-grp8 .product-interaction-container.grp7 .quantity-selector-grp5 .increase-quantity:hover {
  opacity: 0.5;
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .product-interaction-container.grp7 .quantity-selector-grp5 .quantity {
  font-weight: 700;
  min-width: 40px;
  text-align: center;
  padding: 10px 0;
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .product-interaction-container.grp7 .add-to-cart-button-grp3 {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  padding: 15px 30px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  height: 56px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .product-interaction-container.grp7 .add-to-cart-button-grp3:hover {
  opacity: 0.5;
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .product-interaction-container.grp7 .add-to-cart-button-grp3 .btn-content-container-grp2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .product-interaction-container.grp7 .add-to-cart-button-grp3 .btn-content-container-grp2 .btn-icon {
  filter: brightness(3);
}
.main-container-grp16 .main-content-grp11 .product-details-grp8 .product-interaction-container.grp7 .add-to-cart-button-grp3 .btn-content-container-grp2 .btn-text {
  font-size: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.modal .modal-content {
  border-radius: 8px;
  width: 550px;
  height: 722px;
  position: relative;
}
.modal .modal-content .modal-arrow-container {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  pointer-events: none;
}
.modal .modal-content .modal-arrow-container .modal-arrow {
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}
.modal .modal-content .modal-arrow-container .modal-arrow:hover img {
  filter: brightness(0) saturate(100%) invert(33%) sepia(64%) saturate(5347%) hue-rotate(2deg) brightness(101%) contrast(101%);
}
.modal .modal-content .modal-arrow-container .modal-arrow-previous {
  left: -30px;
}
.modal .modal-content .modal-arrow-container .modal-arrow-next {
  right: -30px;
}

#modalGalleryContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#modalGalleryContent .product-gallery-grp10 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 550px;
  max-height: 722px;
  border-radius: 16px;
}
#modalGalleryContent .product-gallery-grp10 .main-product-image-rectangle {
  cursor: pointer;
  width: 100%;
  height: 550px;
  object-fit: contain;
  border-radius: 16px;
}
#modalGalleryContent .product-gallery-grp10 .close-button {
  position: absolute;
  top: -50px;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
#modalGalleryContent .product-gallery-grp10 .close-button img {
  width: 100%;
  height: 20px;
  filter: brightness(2.4);
}
#modalGalleryContent .product-gallery-grp10 .close-button img:hover {
  filter: brightness(0) saturate(100%) invert(37%) sepia(95%) saturate(5039%) hue-rotate(359deg) brightness(102%) contrast(101%);
}
#modalGalleryContent .product-thumbnails-grp9 {
  display: flex;
  justify-content: center;
  gap: 16px;
}
#modalGalleryContent .product-thumbnails-grp9 .thumbnail-button {
  cursor: pointer;
  border: none;
  padding: 0;
  position: relative;
  width: 88px;
  height: 88px;
  border-radius: 8px;
  overflow: hidden;
}
#modalGalleryContent .product-thumbnails-grp9 .thumbnail-button:focus {
  outline: none;
}
#modalGalleryContent .product-thumbnails-grp9 .thumbnail-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  pointer-events: none;
  transition: border-color 0.3s ease;
  border: 2px solid transparent;
}
#modalGalleryContent .product-thumbnails-grp9 .thumbnail-button.active::after {
  border-color: #ff7d1a;
}
#modalGalleryContent .product-thumbnails-grp9 .thumbnail-button .thumbnail-rectangle {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}
#modalGalleryContent .product-thumbnails-grp9 .thumbnail-button .thumbnail-rectangle:hover, #modalGalleryContent .product-thumbnails-grp9 .thumbnail-button .thumbnail-rectangle:focus {
  opacity: 0.7;
}
#modalGalleryContent .product-thumbnails-grp9 .thumbnail-button.active .thumbnail-rectangle {
  opacity: 0.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 50px;
}
.attribution a {
  color: hsl(219, 9%, 45%);
}
.attribution a:hover {
  color: #464a53;
}

@media (max-width: 375px) {
  .main-container-grp16 {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  .main-container-grp16 .site-header-grp15 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 327px;
    margin: 0 auto;
    position: relative;
    padding: 19px 0 24px;
    min-height: 0;
  }
  .main-container-grp16 .site-header-grp15 .menu-icon-button {
    display: block;
    z-index: 9999;
    border: none;
    position: relative;
  }
  .main-container-grp16 .site-header-grp15 .menu-icon-button .menu-icon {
    transition: transform 0.3s ease;
  }
  .main-container-grp16 .site-header-grp15 .menu-icon-button.active .menu-icon {
    transform: rotate(90deg);
    display: none;
  }
  .main-container-grp16 .site-header-grp15 .main-navigation-grp13 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 15px;
  }
  .main-container-grp16 .site-header-grp15 .main-navigation-grp13 .nav-logo-sneakers2 img {
    height: auto;
  }
  .main-container-grp16 .site-header-grp15 .main-navigation-grp13 .nav-list-grp12 {
    position: fixed;
    gap: 0;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 250px;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 92px 25px;
    transition: transform 0.3s ease;
    z-index: 9998;
    justify-content: flex-start;
  }
  .main-container-grp16 .site-header-grp15 .main-navigation-grp13 .nav-list-grp12 .close-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35px;
    left: 30px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .main-container-grp16 .site-header-grp15 .main-navigation-grp13 .nav-list-grp12 .close-nav img {
    width: 100%;
    height: auto;
  }
  .main-container-grp16 .site-header-grp15 .main-navigation-grp13 .nav-list-grp12 .nav-item {
    width: 100%;
  }
  .main-container-grp16 .site-header-grp15 .main-navigation-grp13 .nav-list-grp12 .nav-link {
    color: #1D2026;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
    width: 100%;
    display: block;
  }
  .main-container-grp16 .site-header-grp15 .main-navigation-grp13 .nav-list-grp12 .nav-link::after {
    display: none;
  }
  .main-container-grp16 .site-header-grp15 .menu-icon-button.active ~ .main-navigation-grp13 .nav-list-grp12 {
    transform: translateX(0);
  }
  .main-container-grp16 .site-header-grp15 .user-controls-grp14 {
    justify-content: flex-end;
    gap: 22.18px;
  }
  .main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart {
    position: relative;
    margin-right: 0;
    max-height: 20px;
  }
  .main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-icon-button {
    height: 20px;
  }
  .main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-cart .cart-dropdown {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-80%);
    width: 360px;
    height: 256px;
    border-radius: 9px;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
  }
  .main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-profile-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-container-grp16 .site-header-grp15 .user-controls-grp14 .user-profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main-container-grp16 .main-content-grp11 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
  }
  .main-container-grp16 .main-content-grp11 .product-gallery-grp10 {
    position: relative;
    width: 100%;
    align-items: center;
  }
  .main-container-grp16 .main-content-grp11 .product-gallery-grp10 .mobile-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  .main-container-grp16 .main-content-grp11 .product-gallery-grp10 .mobile-arrow img {
    width: 10px;
    height: 12px;
  }
  .main-container-grp16 .main-content-grp11 .product-gallery-grp10 .mobile-arrow.mobile-arrow-next {
    right: 10px;
  }
  .main-container-grp16 .main-content-grp11 .product-gallery-grp10 .mobile-arrow.mobile-arrow-previous {
    left: 10px;
  }
  .main-container-grp16 .main-content-grp11 .product-gallery-grp10 .main-product-image-rectangle {
    width: 100%;
    height: 300px;
    max-width: 375px;
    border-radius: 0;
    pointer-events: none;
  }
  .main-container-grp16 .main-content-grp11 .product-gallery-grp10 .product-thumbnails-grp9 {
    display: none;
  }
  .main-container-grp16 .main-content-grp11 .product-details-grp8 {
    max-width: 327px;
    padding: 24px 24px;
  }
  .main-container-grp16 .main-content-grp11 .product-details-grp8 .product-brand-sneaker-company {
    font-size: 12px;
    letter-spacing: 1.85px;
  }
  .main-container-grp16 .main-content-grp11 .product-details-grp8 .product-name-fall-limited {
    font-size: 28px;
    line-height: 32px;
  }
  .main-container-grp16 .main-content-grp11 .product-details-grp8 .product-description-these-low-profile {
    font-size: 15px;
    line-height: 25px;
  }
  .main-container-grp16 .main-content-grp11 .product-details-grp8 .price-group-grp6 {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  .main-container-grp16 .main-content-grp11 .product-details-grp8 .price-group-grp6 .current-price-with-discount {
    gap: 16px;
  }
  .main-container-grp16 .main-content-grp11 .product-details-grp8 .product-interaction-container.grp7 {
    flex-direction: column;
  }
  .main-container-grp16 .main-content-grp11 .product-details-grp8 .product-interaction-container.grp7 .quantity-selector-grp5 {
    width: 100%;
    justify-content: space-between;
  }
  .main-container-grp16 .main-content-grp11 .product-details-grp8 .add-to-cart-button-grp3 {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  }
}

/*# sourceMappingURL=style.css.map */
