// Breakpoints
$breakpoint-mobile: 375px;
$breakpoint-desktop: 1440px;

/// Colors
//Primary
$color-orange: hsl(26, 100%, 55%);
$color-pale-orange: hsl(25, 100%, 94%);
//Neutral
$color-very-dark-blue: hsl(220, 13%, 13%);
$color-dark-grayish-blue: hsl(219, 9%, 45%);
$color-grayish-blue: hsl(220, 14%, 75%);
$color-light-grayish-blue: hsl(223, 64%, 98%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%, 0.75);

// Typography
$body-font-size: 16px;
$font-family: 'Kumbh Sans',
sans-serif;

$font-weight-Kumbh-regular: 400;
$font-weight-Kumbh-bold: 700;

// Import Google Font
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Styles de base
body {
    margin-inline: auto;
    font-family: $font-family;
    font-size: $body-font-size;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.main-container-grp16 {
    width: 1100px;
    // width: 100%;
    // max-height: 740px;
    height: auto;
    margin: 0 auto;

    //HEADER ✔️
    .site-header-grp15 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 112px;
        border-bottom: 1px solid rgba(182, 188, 200, .5);

        .menu-icon-button {
            display: none;
        }

        .main-navigation-grp13 {
            display: flex;
            align-items: center;
            gap: 56.5px;

            .nav-logo-sneakers2 {
                img {
                    height: 100%;
                }
            }

            .nav-list-grp12 {
                display: flex;
                justify-content: space-between;
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;

                .nav-item {
                    position: relative;
                }

                .close-nav {
                    display: none;
                }

                .nav-link {
                    text-decoration: none;
                    color: $color-dark-grayish-blue;
                    position: relative;
                    padding: 10px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    transition: color 0.3s ease;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -35px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;
                        height: 3px;
                        background-color: transparent;
                        transition: width 0.3s ease, background-color 0.3s ease;
                        border-radius: 1px;
                    }

                    &:hover::after {
                        background-color: $color-orange;
                        width: 100%;
                    }
                }
            }
        }


        .user-controls-grp14 {
            display: flex;
            align-items: center;

            .user-cart {
                position: relative;
                margin-right: 46.18px;

                .cart-icon {
                    cursor: pointer;
                }

                .cart-icon-button {
                    background: none;
                    border: none;
                    position: relative;
                    cursor: pointer;
                }

                .cart-counter {
                    display: none;
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    background-color: #FF7E1B;
                    color: white;
                    border-radius: 12px;
                    padding: 0.1em 0.6em;
                    font-size: 0.75em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 19px;
                    min-height: 13px;
                    box-sizing: border-box;
                    font-weight: bold;
                    line-height: 1;
                    white-space: nowrap;
                }


                .cart-dropdown {
                    position: absolute;
                    right: 0;
                    top: 100%;
                    width: 360px;
                    height: 256px;
                    background: white;
                    border-radius: 9px;
                    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);
                    overflow-y: auto;
                    z-index: 10;
                    transition: all 0.3s;
                    display: none;

                    &.visible {
                        display: flex;
                        flex-direction: column;
                    }

                    .cart-name {
                        font-size: 16px;
                        font-weight: 700;
                        padding: 1.5rem;
                        border-bottom: 1px solid #dcdcdc;
                        margin: 0;
                    }

                    .cart-content {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        align-items: center;
                        padding: 20px;
                        color: $color-dark-grayish-blue;
                        font-weight: $font-weight-Kumbh-bold;
                    }

                    .empty-cart-msg {
                        margin-top: 50px;

                    }

                    .cart-item {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        .cart-item-image {
                            width: 50px;
                            height: 50px;
                            border-radius: 8px;
                        }

                        .cart-item-details {
                            flex-grow: 1;
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;

                            .cart-item-title {
                                color: $color-dark-grayish-blue;
                                font-weight: $font-weight-Kumbh-regular;
                            }

                            .cart-item-price {
                                color: $color-dark-grayish-blue;
                                font-weight: $font-weight-Kumbh-regular;

                                span {
                                    font-weight: $font-weight-Kumbh-bold;
                                    color: $color-black;
                                }
                            }
                        }

                        .cart-item-remove {
                            background: none;
                            border: none;
                            cursor: pointer;

                            img {
                                width: 14px;
                                height: 16px;
                            }
                        }
                    }

                    .checkout-button {
                        margin: 0 auto;
                        padding: 1rem;
                        width: 312px;
                        height: 56px;
                        border-radius: 8px;
                        background-color: $color-orange;
                        color: white;
                        font-weight: 700;
                        cursor: pointer;
                        transition: background-color 0.3s;
                        border: none;
                        font-size: 16px;
                        font-weight: $font-weight-Kumbh-bold;

                        &:hover {
                            background-color: lighten($color-orange, 15%);
                        }
                    }
                }

            }

            .user-profile-image {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                transition: border 0.3s ease;
                border: 2px solid transparent;
                cursor: pointer;

                &:hover {
                    border: 2px solid $color-orange;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                    border-radius: inherit;
                }
            }

        }

    }

    //CONTENT ✔️
    .main-content-grp11 {
        max-width: 1015px;
        width: 100%;
        max-height: 565px;
        display: flex;
        justify-content: space-between;
        // margin-top: 90px;
        // align-items: flex-start;
        // width: 1015px;
        // height: 565px;
        margin: 90px 48px 47px;
        gap: 125px;

        .product-gallery-grp10 {
            // flex-basis: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;

            .mobile-arrow-container {
                display: none;
            }

            .main-product-image-rectangle {
                cursor: pointer;
                width: 100%;
                max-width: 445px;
                border-radius: 16px;
            }

            .product-thumbnails-grp9 {
                display: flex;
                gap: 31px;

                .thumbnail-button {
                    cursor: pointer;
                    background: none;
                    border: none;
                    padding: 0;
                    position: relative;
                    width: 88px;
                    height: 88px;
                    border-radius: 8px;
                    overflow: hidden;

                    &:focus {
                        outline: none;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        border-radius: 8px;
                        pointer-events: none;
                        transition: border-color 0.3s ease;
                        border: 2px solid transparent;
                    }

                    &.active::after {
                        border-color: #ff7d1a;
                    }

                    .thumbnail-rectangle {
                        width: 100%;
                        height: 100%;
                        transition: opacity 0.3s ease;
                        border-radius: 8px;

                        &:hover,
                        &:focus {
                            opacity: 0.7;
                        }
                    }

                    &.active .thumbnail-rectangle {
                        opacity: 0.5;
                    }
                }
            }

        }

        .product-details-grp8 {
            // flex-basis: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .product-brand-sneaker-company {
                color: $color-orange;
                font-weight: $font-weight-Kumbh-bold;
                font-size: 13px;
                letter-spacing: 2px;
                width: auto;
                height: auto;
                text-transform: uppercase;
                margin-bottom: 24px;
            }

            .product-name-fall-limited {
                color: $color-very-dark-blue;
                font-family: $font-weight-Kumbh-bold;
                font-size: 44px;
                line-height: 48px;
                margin-bottom: 32px;
            }

            .product-description-these-low-profile {
                color: $color-dark-grayish-blue;
                font-family: $font-weight-Kumbh-regular;
                line-height: 26px;
                margin-bottom: 24px;
            }

            .price-group-grp6 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 32px;

                .current-price-with-discount {
                    display: flex;
                    align-items: center;
                    gap: 23px;

                    .current-price {
                        color: $color-very-dark-blue;
                        font-size: 28px;
                        font-weight: $font-weight-Kumbh-bold;
                    }

                    .discount {
                        color: $color-orange;
                        font-weight: $font-weight-Kumbh-bold;
                        padding: 5px 10px;
                        background-color: $color-pale-orange;
                        border-radius: 5px;
                    }
                }

                .original-price {
                    color: $color-grayish-blue;
                    font-weight: $font-weight-Kumbh-bold;
                    text-decoration: line-through;
                    margin-top: 3px;
                    line-height: 26px;
                }
            }


            .product-interaction-container.grp7 {
                display: flex;
                align-items: center;
                gap: 16px;

                .quantity-selector-grp5 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    background-color: $color-light-grayish-blue;
                    border-radius: 5px;
                    padding: 5px;

                    .decrease-quantity,
                    .increase-quantity {
                        background: transparent;
                        border: none;
                        padding: 10px;
                        border-radius: 5px;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.5;
                        }
                    }

                    .quantity {
                        font-weight: $font-weight-Kumbh-bold;
                        min-width: 40px;
                        text-align: center;
                        padding: 10px 0;

                    }
                }

                .add-to-cart-button-grp3 {
                    background-color: $color-orange;
                    color: $color-white;
                    padding: 15px 30px;
                    border-radius: 8px;
                    font-weight: $font-weight-Kumbh-bold;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    width: 100%;
                    height: 56px;
                    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
                    
                    &:hover {
                        opacity: 0.5;
                    }

                    .btn-content-container-grp2 {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .btn-icon {
                            filter: brightness(3);
                        }

                        .btn-text {
                            font-size: $body-font-size;
                        }
                    }
                }
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    overflow: auto;

    .modal-content {
        border-radius: 8px;
        width: 550px;
        height: 722px;
        position: relative;

        .modal-arrow-container {
            position: absolute;
            top: 45%;
            left: 0;
            right: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            pointer-events: none;

            .modal-arrow {
                position: absolute;
                transform: translateY(-50%);
                cursor: pointer;
                z-index: 10;
                border: none;
                background-color: rgb(255, 255, 255);
                border-radius: 50%;
                width: 56px;
                height: 56px;
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: auto;

                &:hover img {
                    filter: brightness(0) saturate(100%) invert(33%) sepia(64%) saturate(5347%) hue-rotate(2deg) brightness(101%) contrast(101%);
                }
            }

            .modal-arrow-previous {
                left: -30px;
            }

            .modal-arrow-next {
                right: -30px;
            }
        }
    }
}

// Styles spécifiques pour la galerie clonée dans le modal
#modalGalleryContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .product-gallery-grp10 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        max-width: 550px;
        max-height: 722px;
        border-radius: 16px;

        .main-product-image-rectangle {
            // position: relative;
            cursor: pointer;
            width: 100%;
            // width: 550px;
            height: 550px;
            object-fit: contain;
            border-radius: 16px;


        }

        .close-button {
            position: absolute;
            top: -50px;
            right: 0;
            width: 20px;
            height: 20px;
            background-color: transparent;
            cursor: pointer;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;

            img {
                width: 100%;
                height: 20px;
                filter: brightness(2.4);

                &:hover {
                    filter: brightness(0) saturate(100%) invert(37%) sepia(95%) saturate(5039%) hue-rotate(359deg) brightness(102%) contrast(101%);
                    // Filtre appliqué au survol de la souris
                }
            }
        }

    }

    .product-thumbnails-grp9 {
        display: flex;
        justify-content: center;
        gap: 16px;

        .thumbnail-button {
            cursor: pointer;
            border: none;
            padding: 0;
            position: relative;
            width: 88px;
            height: 88px;
            border-radius: 8px;
            overflow: hidden;

            &:focus {
                outline: none;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 8px;
                pointer-events: none;
                transition: border-color 0.3s ease;
                border: 2px solid transparent;
            }

            &.active::after {
                border-color: #ff7d1a;
            }

            .thumbnail-rectangle {
                width: 100%;
                height: 100%;
                transition: opacity 0.3s ease;
                border-radius: 8px;


                &:hover,
                &:focus {
                    opacity: 0.7;
                }
            }

            &.active .thumbnail-rectangle {
                opacity: 0.5;
            }
        }
    }
}

// Attribution styling
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 50px;

    a {
        color: $color-dark-grayish-blue;

        &:hover {
            color: darken($color-dark-grayish-blue, 15%);
        }
    }
}

// Responsive media query for mobile devices
@media (max-width: $breakpoint-mobile) {
    .main-container-grp16 {
        // height: 900px;
        position: relative;
        width: 100%;
        margin: 0 auto;
        // max-height: 900px;


        .site-header-grp15 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 327px;
            margin: 0 auto;
            position: relative;
            padding: 19px 0 24px;
            min-height: 0;


            .menu-icon-button {
                display: block;
                z-index: 9999;
                border: none;
                position: relative;

                .menu-icon {
                    transition: transform 0.3s ease;
                }

                &.active .menu-icon {
                    transform: rotate(90deg);
                    display: none;
                }
            }

            .main-navigation-grp13 {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                margin-left: 15px;

                .nav-logo-sneakers2 {
                    img {
                        height: auto;
                    }
                }


                .nav-list-grp12 {
                    position: fixed;
                    gap: 0;
                    top: 0;
                    left: 0;
                    transform: translateX(-100%);
                    width: 250px;
                    height: 100%;
                    background-color: $color-white;
                    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
                    display: flex;
                    flex-direction: column;
                    padding: 92px 25px;
                    transition: transform 0.3s ease;
                    z-index: 9998;
                    justify-content: flex-start;

                    .close-nav {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 35px;
                        left: 30px;
                        background: none;
                        border: none;
                        cursor: pointer;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .nav-item {
                        width: 100%;
                    }

                    .nav-link {
                        color: #1D2026;
                        font-weight: $font-weight-Kumbh-bold;
                        font-size: 18px;
                        line-height: 26px;
                        text-decoration: none;
                        width: 100%;
                        display: block;

                        &::after {
                            display: none;
                        }
                    }
                }

            }

            .menu-icon-button.active~.main-navigation-grp13 .nav-list-grp12 {
                transform: translateX(0);
            }

            .user-controls-grp14 {
                justify-content: flex-end;
                gap: 22.18px;

                .user-cart {
                    position: relative;
                    margin-right: 0;
                    max-height: 20px;

                    .cart-icon {}

                    .cart-icon-button {
                        height: 20px;
                    }

                    .cart-counter {}

                    .cart-dropdown {
                        position: absolute;
                        top: 55px;
                        left: 50%;
                        transform: translateX(-80%);
                        width: 360px;
                        height: 256px;
                        border-radius: 9px;
                        transition: all 0.3s ease-in-out;
                        z-index: 9999;


                        .cart-name {}

                        .cart-content {
                            .empty-cart-msg {}
                        }

                        .cart-item {
                            .cart-item-image {}

                            .cart-item-details {

                                .cart-item-title {}

                                .cart-item-price {}

                            }

                            .cart-item-remove {}

                        }

                        .checkout-button {}
                    }
                }

                .user-profile-image {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        .main-content-grp11 {
            flex-direction: column;
            align-items: center;
            gap: 20px;
            margin: 0 auto;


            .product-gallery-grp10 {
                position: relative;
                width: 100%;
                align-items: center;

                .mobile-arrow {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #ffffff;
                    border: none;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // cursor: pointer;
                    z-index: 10;

                    img {
                        width: 10px;
                        height: 12px;
                    }

                    &.mobile-arrow-next {
                        right: 10px;
                    }

                    &.mobile-arrow-previous {
                        left: 10px;
                    }
                }

                .main-product-image-rectangle {
                    width: 100%;
                    height: 300px;
                    max-width: 375px;
                    border-radius: 0;
                    pointer-events: none;
                }

                .product-thumbnails-grp9 {
                    display: none;
                }
            }

            .product-details-grp8 {
                max-width: 327px;
                padding: 24px 24px;

                .product-brand-sneaker-company {
                    font-size: 12px;
                    letter-spacing: 1.85px;
                }

                .product-name-fall-limited {
                    font-size: 28px;
                    line-height: 32px;
                }

                .product-description-these-low-profile {
                    font-size: 15px;
                    line-height: 25px;
                }

                .price-group-grp6 {
                    flex-direction: row;
                    align-items: baseline;
                    justify-content: space-between;

                    .current-price-with-discount {
                        gap: 16px;

                        .current-price {}

                        .discount {}
                    }

                    .original-price {}
                }

                .product-interaction-container.grp7 {
                    flex-direction: column;

                    .quantity-selector-grp5 {
                        width: 100%;
                        justify-content: space-between;

                        .decrease-quantity,
                        .increase-quantity {}

                        .quantity {}
                    }
                }

                .add-to-cart-button-grp3 {
                    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);

                    .btn-content-container-grp2 {
                        .btn-icon {}

                        .btn-text {}
                    }
                }
            }
        }
    }
}